@media (max-width: 1100px) {
    .why-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .why-features {
        grid-template-columns: 1fr 1fr;
    }
}








@media (max-width: 1024px) {
    .service-card {
        flex: 0 0 calc(50% - 15px);
    }



    .serve-grid {
        grid-template-columns: repeat(2, 1fr);
    }





    .team-grid {
        grid-template-columns: 1fr 1fr;
    }



    .testimonial-card {
        flex: 0 0 calc(50% - 15px);
    }




    .footer-top {
        flex-direction: column;
        gap: 50px;
    }

    .footer-top-left {
        width: 100%;
        text-align: center;
    }

    .footer-top-left p {
        margin: 15px auto 0;
        width: 100%;
    }

    .footer-top-right {
        width: 100%;
    }



}








@media (max-width: 992px) {
    .about-section {
        margin-top: 40px;
    }

    .about-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .about-visual {
        margin-top: 200px;
    }

    .about-image-bg {
        width: 80%;
        height: 200px;
        margin: auto;
    }

    .about-image-bg img {
        width: 60%;
        height: 200%;
        left: 50%;
        transform: translate(-50%);
    }





    .steps-container {
        grid-template-columns: 1fr 1fr;
    }






    .compliance-container {
        grid-template-columns: 1fr;
    }

    .compliance-grid {
        grid-template-columns: 1fr 1fr;
    }




    .faq-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }




    .contact-container {
        grid-template-columns: 1fr;
    }

    .form-row {
        grid-template-columns: 1fr;
    }

    .contact-btns {
        justify-content: center;
    }





    /* privacy page */

    .policy-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .policy-header-card h1 {
        font-size: 2.8rem;
    }

}







@media (max-width: 768px) {
    .mobile-nav-toggle {
        display: flex;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
        margin-top: 20px;
    }

    .navmenu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100%;
        background-color: #fff;
        box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1);
        transition: right 0.4s ease-in-out;
        z-index: 1000;
        padding: 100px 40px;
    }

    .navmenu.open {
        right: 0;
    }

    .navmenu ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .mobile-nav-toggle.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .mobile-nav-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-nav-toggle.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }




    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-btns {
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 16px;
        margin: 10px auto 20px;
    }


    .hero-visual {
        display: none;
    }






    .trusted-by {
        flex-direction: column;
    }

    .trusted-label {
        width: 100%;
        text-align: center;
        padding: 25px;
        border-bottom: 1px solid #ddd;
    }

    .logos-container {
        width: 100%;
        flex-wrap: wrap;
        gap: 30px;
        padding: 40px 20px;
    }

    .logo-item {
        flex: 1 1 40%;
        justify-content: center;
    }







    .about-image-bg {
        width: 100%;
    }

    .about-image-bg img {
        width: 100%;
    }

    .about-content h2 {
        font-size: 30px;
        margin: 4px 0 10px;
    }

    .capabilities-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about-boxes {
        justify-content: center;
        flex-wrap: wrap;
    }




    .vm-container {
        grid-template-columns: 1fr;
    }

    .vm-card {
        padding: 40px 30px;
    }





    .bridge-grid {
        grid-template-columns: 1fr !important;
    }

    .positioning-header h2 {
        font-size: 2rem;
    }





    .services-header h2 {
        font-size: 2rem;
    }

    .service-card {
        flex: 0 0 100%;
    }






    .impact-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }




    .team-profile-grid {
        grid-template-columns: 1fr 1fr;
    }




    .testimonial-card {
        flex: 0 0 100%;
    }






    footer {
        padding: 40px 0 20px;
    }

    .social-box {
        justify-content: center;
    }

    .footer-top-right {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .footer-col h4 {
        margin-bottom: 15px;
    }

    .footer-col ul {
        padding: 0;
    }

    .footer-logo img {
        width: 180px;
    }

    .footer-bottom {
        margin-top: 20px;
        font-size: 0.8rem;
    }




}








@media (max-width: 600px) {
    .why-features {
        grid-template-columns: 1fr;
    }




    .steps-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .approach-pipeline {
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 20px;
    }

    .step-card {
        padding: 20px;
    }




    .compliance-grid {
        grid-template-columns: 1fr;
    }





    .team-grid {
        grid-template-columns: 1fr;
    }


}







@media (max-width: 570px) {

    .section-container {
        width: 94%;
    }


    .navmenu {
        width: 70%;
    }


    .team-profile-grid {
        grid-template-columns: 1fr;
    }

    .profile-img-container {
        /* height: 200px; */
    }


}









@media (max-width: 480px) {
    .serve-grid {
        grid-template-columns: 1fr;
    }


    .why-intro h2 {
        font-size: 30px;
    }

    .contact-info h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .contact-form-box {
        padding: 20px;
        border-radius: 10px;
    }

    .form-row {
        gap: 10px;
    }



    .info-card {
        gap: 10px;
        padding: 10px;
        border-radius: 8px;
    }

    .info-icon {
        font-size: 18px;
        width: 40px;
        height: 40px;
    }



}